.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: rgb(8, 11, 14);
  }
  
  .flex-container > div {
    background-color: #cacfdd;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 780px;
    font-size: 30px;
  }
  
  #div1{
  flex:50%
  }